.App {
  text-align: center;
}
#btn-submit{
  color:white;
  background: #1877f2;
  width: 176px;
}

#btn-log
{
  color:white;
  background: #1877f2;
  width: 176px;

}

#home
{
  color:rgb(146, 128, 128)
  
 
  
}
